/**
 *  maxxidom Popup v1.5.7
 *  Autor: Alexander Bechthold
 *  Date: 02.10.2017
 *  UpDate: 13.10.2017
 */

.maxxidom-modal{
    position: fixed;
    max-width: 60vw;
    height: 60vh;
    max-height: 100vh;
    margin: 20vh 0 0 20vw;
    display: none;
    z-index: 1001;
    box-sizing: border-box;
    overflow-Y:  hidden;

}

.maxxidom-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1000;
    cursor: pointer;
}

.maxxidom-open{
    display: block;
}


.class-content {
    padding: 20px;
    background: #fff;
    overflow-Y: auto;
}

.alert-right {
    right: 0;
    top: 30px;
    background-color: red;
    color: #fff;
    padding: 10px;
    height:auto;
}